.btn {
  padding: 21px 30px;
  border-radius: 5px;
  color: $color-white;
  border: none;

  cursor: pointer;
}

.btn-purple {
  background-color: $color-purple;
}

.btn-red {
  background-color: $color-red;
}

.btn-green {
  background-color: $color-green;
}

.btn-transparent {
  background-color: transparent;
}

.btn-news {
  border: 1px solid #cacaca;
  color: $color-dark-gray;
}

.btn-form {
  border: 1px solid #FFFFFF;
  color: $color-white;
}

.btn-round {
  border-radius: 32px;
  padding: 17px 40px;
}