.btn {
  padding: 21px 30px;
  border-radius: 5px;
  color: $color-white;
  border: none;

  cursor: pointer;
}

.btn-purple {
  background-color: $color-purple;
}

.btn-red {
  background-color: $color-red;
}

.btn-green {
  background-color: $color-green;
}

.btn-transparent {
  color: $color-white;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}
