.btn {
  padding: 20px 30px;
  border-radius: 5px;

  line-height: 1.5;

  cursor: pointer;

  &:hover,
  &:active {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
  }

  &:focus {
    transform: translateY(3px);
    filter: saturate(150%);
  }
}

.btn-sm {
  padding: 16px 30px;

  white-space: nowrap;
}

.btn-md {
  padding: 16px 40px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-round {
  border: none;
  border-radius: 32px;
}

.btn-outline-gray {
  border-color: $color-dark-gray;
  border-style: solid;

  color: $color-dark-gray;

  background-color: transparent;
}

.btn-outline-white {
  border-color: $color-white;
  border-style: solid;

  color: $color-white;

  background-color: transparent;
}

.btn-purple {
  color: $color-white;

  background-color: $color-purple;
}

.btn-red {
  color: $color-white;

  background-color: $color-red;
}

.btn-green {
  color: $color-white;

  background-color: $color-green;
}
