.acces-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 374px;
  margin: 0 auto;

  @include for-tablet-up {
    max-width: 570px;
  }

  & .acces-input {
    width: 100%;
    margin-bottom: 24px;
    color: $color-white;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    &::placeholder {
      color: $color-white;
    }

    @include for-tablet-up {
      max-width: 270px;
    }
  }
}
