.input {
  display: block;
  width: 100%;

  border: none;

  color: $color-white;

  background-color: $color-dark;
}

.input-sm {
  padding: 5px 10px;
}

.input-md {
  padding: 15px 22px;
}

.input-rounded {
  border-radius: 50px;
}

.input-soft-rounded {
  border-radius: 3px;
}

.input-transparent {
  background-color: transparent;
}

.border-d-gray {
  border-color: $color-dark-gray;
  border-style: solid;
}
