.search {
  width: 100%;

  @include for-tablet-up {
    flex: 1 1 211px;
    margin-bottom: 21px;
  }

  @include for-tablet-xl-up {
    margin-bottom: 0;
  }
}

.input-rounded {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;

  color: $color-white;

  font-size: 13.3px;
  line-height: 15px;

  background-color: $color-dark;
}

.input-transparent {
  padding: 15px 22px;

  border: 2px solid $color-dark-gray;
  border-radius: 3px;

  background-color: transparent;
}
