.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include for-dekstop-up {
    max-width: 1200px;
    padding: 0;
  }
}

.row-tablet-up {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include for-tablet-up {
    flex-direction: row;
  }
}

.col-2 {
  display: flex;

  @include for-tablet-up {
    flex: 1 1 50%;
  }
}

.col-4 {
  flex: 1 1 0;
}

.col-2-offset {
  @include for-tablet-up {
    padding: 0 25px;
  }
}

.col-4-offset {
  @include for-tablet-up {
    padding: 0 20px;
  }
}
