.w-100 {
  width: 100%;
}

.min-width-200 {
  min-width: 200px;
}

.lh-normal {
  line-height: normal;
}

.lh-1-3 {
  line-height: 1.3;
}

.lh-15px {
  line-height: 15px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-w-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-vertical-super {
  vertical-align: super;
}

.align-txt-center {
  text-align: center;
}

.no-link-decoration {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

.border-top-1px {
  border-top: 1px solid;
}

.border-1px {
  border-width: 1px;
}

.border-2px {
  border-width: 2px;
}

.border-none {
  border: none;
}

// ADAPTIVE MARGINS AND PADDINGS

.mt-mobile-50 {
  margin-top: 50px;

  @include for-tablet-up {
    margin-top: 0;
  }
}

.mt-tablet-25 {
  margin-top: 25px;

  @include for-tablet-up {
    margin-top: 50px;
  }

  .mb-tablet-16 {
    margin-bottom: 16px;

    @include for-tablet-up {
      margin-bottom: 0;
    }
  }
}

.mb-dekstop-16 {
  margin-bottom: 16px;

  @include for-dekstop-up {
    margin-bottom: 32px;
  }
}

.mb-tablet-25 {
  margin-bottom: 25px;

  @include for-tablet-up {
    margin-bottom: 0;
  }
}

.mb-tablet-30 {
  margin-bottom: 30px;

  @include for-tablet-up {
    margin-bottom: 0;
  }
}

.pr-tablet-50 {
  padding-right: 0;

  @include for-tablet-up {
    padding-right: 50px;
  }
}

.pl-tablet-20 {
  @include for-tablet-up {
    padding-left: 20px;
  }
}

// MARGINS

.mt-16 {
  margin-top: 16px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-200 {
  margin-bottom: 200px;
}

// PADDINGS
.pt-40 {
  padding-top: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

// COLORS
.color-white {
  color: $color-white;
}

.color-gray {
  color: $color-gray;
}

.color-d-gray {
  color: $color-dark-gray;
}

.color-orange {
  color: $color-orange;
}
