body {
  color: $color-white;
  font-size: 18px;
  font-family: $main-font;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.row-tablet-up {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include for-tablet-up {
    flex-direction: row;
    // margin: 0 -25px;
  }
}

.col-2 {
  display: flex;

  @include for-tablet-up {
    flex: 1 1 50%;
  }
}

.col-2-offset {
  @include for-tablet-up {
    padding: 0 25px;
  }
}

.col-4 {
  flex: 1 1 0;

  & a:hover {
    color: $color-white;
  }
}

.col-4-offset {
  @include for-tablet-up {
    padding: 20px;
  }
}

.w-100 {
  width: 100%;
}

.min-width-200 {
  min-width: 200px;
}

.ml-auto {
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-w-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

.align-vertical-super {
  vertical-align: super;
}

.align-txt-center {
  text-align: center;
}

.no-link-decoration {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

.font-w-400 {
  font-weight: 400;
}

.border-top-1 {
  border-top: 1px solid $color-gray;
}
// MARGINS
.mt-16 {
  margin-top: 16px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-50-tablet {
  @include for-tablet-up {
    margin-top: 50px;
  }
}

.mr-15 {
  margin-right: 15px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-49 {
  margin-right: 49px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 24px;
}

.mb-tablet-25 {
  margin-bottom: 25px;

  @include for-tablet-up {
    margin-bottom: 0;
  }
}

.mb-46 {
  margin-bottom: 46px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mb-tablet-30 {
  margin-bottom: 30px;

  @include for-tablet-up {
    margin-bottom: 0;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-185 {
  margin-bottom: 185px;
}

// PADDINGS
.pt-40 {
  padding-top: 40px;
}

.pr-tablet-up {
  padding-right: 0;

  @include for-tablet-up {
    padding-right: 50px;
  }
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-250 {
  padding-top: 250px;
}

.pb-200 {
  padding-bottom: 200px;
}

// COLORS
.color-white {
  color: $color-white;
}

.color-gray {
  color: $color-gray;
}

.color-d-gray {
  color: $color-dark-gray;
}

.color-orange {
  color: $color-orange;
}

// BACKGROUNDS
.bg-black {
  background-color: $color-black;
}

.bg-dark {
  background-color: $color-dark;
}
