.h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-transform: uppercase;

  @include for-dekstop-up {
    font-size: 60px;
  }
}

.h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;

  @include for-dekstop-up {
    font-size: 38px;
  }
}

.h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;

  @include for-dekstop-up {
    font-size: 24px;
  }
}

.h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;

  @include for-dekstop-up {
    line-height: 1.5;
  }
}

.capitalize {
  text-transform: capitalize;
}

.ts-small {
  font-size: 12.8px;
}

.ts-16 {
  font-size: 16px;
}

.ts-24 {
  font-size: 24px;
}

.ts-32 {
  font-size: 32px;
}

.ts-40 {
  font-size: 40px;
}

.ts-48 {
  font-size: 48px;
}

.ts-56 {
  font-size: 56px;
}

.ts-64 {
  font-size: 64px;
}
