.footer-nav {
  padding: 62px 0 75px;

  @include for-tablet-up {
    padding: 44px 0 50px;
  }

  & .footer-nav-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include for-tablet-up {
      flex-direction: row;
      margin: 0 -20px;
    }
  }
}

.test-nav {
  display: flex;
  flex-direction: column;

  @include for-tablet-up {
    flex-direction: row;
  }

  & .test-nav-item {
    margin-right: 15px;
  }
}

.footer-menu-second {
  display: flex;
  flex-direction: column;

  @include for-tablet-up {
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 0;
  }

  & .footer-menu-second-item {
    margin-bottom: 16px;

    @include for-tablet-up {
      margin-bottom: 0;
    }

    & a:hover {
      color: $color-white;
    }
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
