.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.logo {
  font-weight: bold;

  & .logo-icon {
    width: 24px;
    height: 24px;
  }

  & .logo-title {
    height: 13px;

    font-size: 11px;
    line-height: 1;
  }

  @include for-tablet-up {
    flex: 1 1 135px;
    margin-bottom: 21px;
  }

  @include for-dekstop-up {
    max-width: 180px;
  }

  @include for-tablet-xl-up {
    margin-bottom: 0;
  }
}

.nav {
  margin-bottom: 17px;

  @include for-tablet-up {
    flex: 12 1 auto;
    margin-bottom: 21px;
  }

  @include for-tablet-xl-up {
    margin-bottom: 0;
  }
}

.nav-list {
  position: relative;

  z-index: 1;

  font-weight: bold;
  font-size: 11px;

  cursor: pointer;

  & a:hover {
    color: $color-white;
  }

  & .nav-link {
    width: 100%;

    @include for-tablet-up {
      width: max-content;
      margin-right: 24px;
    }
  }
}
