.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.logo {
  font-weight: bold;

  & .logo-icon {
    width: 24px;
    height: 24px;
  }

  & .logo-title {
    height: 13px;

    font-size: 11px;
    line-height: 1;
  }
}

.menu {
  position: relative;

  z-index: 1;

  font-weight: bold;
  font-size: 11px;
  line-height: 13px;

  cursor: pointer;

  & a:hover {
    color: $color-white;
  }
}
