.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.logo {
  margin-bottom: 16px;

  font-weight: bold;

  @include for-tablet-up {
    flex: 1 1 135px;
    margin-bottom: 21px;
  }

  @include for-dekstop-up {
    max-width: 180px;
  }

  @include for-tablet-xl-up {
    margin-bottom: 0;
  }
}

.logo-icon {
  width: 24px;
  height: 24px;
}

.logo-title {
  height: 13px;

  font-size: 11px;
  line-height: 1;
}

.nav {
  margin-bottom: 18px;

  @include for-tablet-up {
    flex: 12 1 auto;
    margin-bottom: 21px;
  }

  @include for-tablet-xl-up {
    margin-bottom: 0;
  }
}

.nav-list {
  position: relative;
  z-index: 1;

  display: flex;

  flex-direction: column;

  font-weight: bold;
  font-size: 11px;

  cursor: pointer;

  @include for-tablet-up {
    flex-direction: row;
  }
}

.nav-link {
  @include for-tablet-up {
    width: max-content;
    margin-right: 24px;
  }

  &:hover {
    color: $color-white;
  }
}

.header-search {
  width: 100%;

  @include for-tablet-up {
    flex: 1 1 211px;
    margin-bottom: 21px;
  }

  @include for-tablet-xl-up {
    margin-bottom: 0;
  }
}

.acces-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 374px;
  margin: 0 auto;

  @include for-tablet-up {
    max-width: 570px;
  }
}

label[for="search-box"] {
  display: block;
  height: 0;

  visibility: hidden;
}
