.subscription {
  width: 100%;

  @include for-tablet-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }

  @include for-dekstop-up {
    flex-wrap: nowrap;
    margin: 0 -25px;
  }

  & .subscription-item {
    min-width: 300px;
    margin-bottom: 50px;

    @include for-tablet-up {
      flex: 1 0 0;
      margin-bottom: 28px;
      padding: 0 25px;
    }

    @include for-dekstop-up {
      flex: 1 0 0;
      padding: 0 25px;
    }
  }

  & .card {
    padding: 16px 25px 62px 25px;

    border-radius: 16px;

    text-align: center;

    @include for-tablet-up {
      padding: 24px 25px 65px 25px;
    }
  }
}

.bg-free {
  background-image: url(../images/subscribe_1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url(../images/subscribe_2.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
