.subscription {
  width: 100%;

  @include for-tablet-up {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
  }

  @include for-dekstop-up {
    display: flex;
    margin: 0 -25px;
  }

  & .subscription-inner {
    padding: 0 25px;

    @include for-tablet-up {
      flex: 1 1 350px;
      max-width: 420px;
    }
  }

  & .subscription-item {
    margin-bottom: 40px;
    padding: 15px 25px 65px 25px;
    border-radius: 16px;

  }
}


.bg-free {
  background-image: url(../images/subscribe_1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url(../images/subscribe_2.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url(../images/subscribe_1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
