.subscription {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin-bottom: 45px;

  @include for-tablet-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin-bottom: 10px;
  }

  @include for-dekstop-up {
    flex-wrap: nowrap;
  }

  & .subscription-item {
    min-width: 300px;

    @include for-tablet-up {
      flex: 1 0 0;
      margin-bottom: 28px;
    }

    @include for-dekstop-up {
      flex: 1 0 0;
    }
  }

  & .card {
    padding: 16px 30px 62px 30px;

    border-radius: 16px;

    text-align: center;

    @include for-tablet-up {
      padding: 24px 30px 65px 30px;
    }
  }
}

.bg-free {
  background-image: url(../images/subscribe_1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url(../images/subscribe_2.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
