.subscription {
  width: 100%;

  @include for-tablet-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin: 0 -30px;
  }

  & .subscription-item {
    margin-bottom: 40px;

    @include for-tablet-up {
      flex: 0 0 420px;
      padding: 0 25px;
    }
  }

  & .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px 25px 65px 25px;
    border-radius: 16px;
  }
}

.bg-free {
  background-image: url(../images/subscribe_1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url(../images/subscribe_2.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url(../images/subscribe_1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
