.subscription-item {
  padding: 15px 25px 65px 25px;
  border-radius: 16px;
}

.bg-free {
  background-image: url(../images/subscribe_1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url(../images/subscribe_2.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url(../images/subscribe_1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
