* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-transform: uppercase;
}

.h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
}

.h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

.h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.ts-small {
  font-size: 12.8px;
}

.ts-16 {
  font-size: 16px;
}

.ts-24 {
  font-size: 24px;
}

.ts-32 {
  font-size: 32px;
}

.ts-40 {
  font-size: 40px;
}

.ts-48 {
  font-size: 48px;
}

.ts-56 {
  font-size: 56px;
}

.ts-64 {
  font-size: 64px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.min-width-200 {
  min-width: 200px;
}

.ml-auto {
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.flex-w-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.no-link-decoration {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.border-top-1 {
  border: 1px solid #e0e0e0;
}

.mt-25 {
  margin-top: 25px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-49 {
  margin-right: 49px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-200 {
  padding-bottom: 200px;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: #e0e0e0;
}

.color-d-gray {
  color: #cacaca;
}

.bg-black {
  background-color: #08020d;
}

.bg-dark {
  background-color: #3c3b3d;
}

.bg-banner-artist {
  position: relative;
}

.bg-banner-artist::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/Morten Harket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
}

.btn {
  padding: 21px 30px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-purple {
  background-color: #5328a1;
}

.btn-red {
  background-color: #95390c;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-weight: bold;
}

.logo .logo-icon {
  width: 24px;
  height: 24px;
}

.logo .logo-title {
  height: 13px;
  font-size: 11px;
  line-height: 1;
}

.menu {
  font-size: 11px;
  line-height: 13px;
  font-weight: bold;
}

.menu .menu-item {
  height: 13px;
}

.footer-nav {
  padding: 62px 0 75px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.search-form {
  width: 100%;
}

.input-search {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
}

.small-cover {
  width: 55px;
}

.big-cover {
  width: 137px;
}
/*# sourceMappingURL=style.css.map */